#Aula Prática 01 - Tipos de frequência

Instalando e Carregando **Bibliotecas**

In [ ]:
install.packages("Hmisc")
#install.packages("dplyr")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘checkmate’, ‘gridExtra’, ‘htmlTable’, ‘viridis’, ‘Formula’

In [ ]:
require(Hmisc)
require(dplyr)

Loading required package: Hmisc


Attaching package: ‘Hmisc’


The following objects are masked from ‘package:base’:

    format.pval, units


Loading required package: dplyr


Attaching package: ‘dplyr’


The following objects are masked from ‘package:Hmisc’:

    src, summarize


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [ ]:
#Primeira forma de criar o vetor
idade = c(10,
          10,
          10,
          10,
          30,
          30,
          30,
          30,
          30,
          30,
          30,
          30,
          50,
          50,
          50,
          50,
          70,
          70,
          70,
          90)
idade

 [1] 10 10 10 10 30 30 30 30 30 30 30 30 50 50 50 50 70 70 70 90

In [ ]:
idade2 = c(rep(10, 4), rep(30, 8), rep(50, 4), rep(70, 3), 90)
idade2

 [1] 10 10 10 10 30 30 30 30 30 30 30 30 50 50 50 50 70 70 70 90

In [ ]:
#Achando as Frequências simples (fi)
frequencia_simples = table(idade)
frequencia_simples

idade
10 30 50 70 90
 4  8  4  3  1

In [ ]:
#Visual excel
dados_simples = data.frame(frequencia_simples)
dados_simples

  idade Freq
1 10    4
2 30    8
3 50    4
4 70    3
5 90    1

In [ ]:
#ver o banco todo (Não recomendável para bancos gigantescos)
View(dados_simples)

  idade Freq
1 10    4
2 30    8
3 50    4
4 70    3
5 90    1

In [ ]:
#Ver as n primeiras linhas do data.frame
head(dados_simples, 2)

  idade Freq
1 10    4
2 30    8

In [ ]:
#Frequência acumulada
frequencia_acumulada = cumsum(frequencia_simples)
frequencia_acumulada

10 30 50 70 90
 4 12 16 19 20

In [ ]:
dados_simples

  idade Freq
1 10    4
2 30    8
3 50    4
4 70    3
5 90    1

In [ ]:
#Adicionando coluna com acumulada
dados_simples$frequencia_acumulada = frequencia_acumulada
dados_simples

  idade Freq frequencia_acumulada
1 10    4     4
2 30    8    12
3 50    4    16
4 70    3    19
5 90    1    20

In [ ]:
#Frequência relativa simples
frequencia_relativa_simples = frequencia_simples / sum(frequencia_simples)
frequencia_relativa_simples

idade
  10   30   50   70   90
0.20 0.40 0.20 0.15 0.05

In [ ]:
#segunda forma para obter frequencias relativa simples utilizando a função prop.table()
prop.table(frequencia_simples)

idade
  10   30   50   70   90
0.20 0.40 0.20 0.15 0.05

In [ ]:
#Adicionando a Frequência relativa simples
dados_simples$frequencia_relativa_simples = frequencia_relativa_simples
dados_simples

  idade Freq frequencia_acumulada frequencia_relativa_simples
1 10    4     4                   0.20
2 30    8    12                   0.40
3 50    4    16                   0.20
4 70    3    19                   0.15
5 90    1    20                   0.05

In [ ]:
frequencia_relativa_acumulada = cumsum(frequencia_relativa_simples)
frequencia_relativa_acumulada

  10   30   50   70   90
0.20 0.60 0.80 0.95 1.00

In [ ]:
#Criando a variavel frequencia_relativa_acumulada
dados_simples$frequencia_relativa_acumulada = frequencia_relativa_acumulada
dados_simples

  idade Freq frequencia_acumulada frequencia_relativa_simples
1 10    4     4                   0.20
2 30    8    12                   0.40
3 50    4    16                   0.20
4 70    3    19                   0.15
5 90    1    20                   0.05
  frequencia_relativa_acumulada
1 0.20
2 0.60
3 0.80
4 0.95
5 1.00

In [ ]:
#Renomeando uma coluna do dataframe dados_simples
names(dados_simples)[5] = "frequencia_relativa_acumulada"
dados_simples

  idade Freq frequencia_acumulada frequencia_relativa_simples
1 10    4     4                   0.20
2 30    8    12                   0.40
3 50    4    16                   0.20
4 70    3    19                   0.15
5 90    1    20                   0.05
  frequencia_relativa_acumulada
1 0.20
2 0.60
3 0.80
4 0.95
5 1.00

In [ ]:
#Achando automaticamente a frequência simples e relativa simples
describe(idade)

idade
       n  missing distinct     Info     Mean      Gmd
      20        0        5    0.919       39    25.58

Value        10   30   50   70   90
Frequency     4    8    4    3    1
Proportion 0.20 0.40 0.20 0.15 0.05

For the frequency table, variable is rounded to the nearest 0

In [ ]:
#base #FOG
#f(g(x))
#funcao3(funcao2(funcao1(head(dados_simples))))
#tidyverse #GOF
#g(f(x))
#dados_simples %>% head() %>%
#                  funcao1() %>%
#                  funcao2() %>%
#                  funcao3()

In [ ]:
#funcao2(funcao1(head(dados_simples)))

In [ ]:
#dados_simples %>%
#       head() %>%
#    funcao1() %>%
#    funcao2()

In [ ]:
dados_simples_tidy = dados_simples %>%
  mutate(
    frequencia_acumulada = cumsum(frequencia_simples),
    frequencia_relativa_simples = frequencia_simples / sum(frequencia_simples),
    frequencia_relativa_acumulada = cumsum(frequencia_relativa_simples)
  )
dados_simples_tidy

  idade Freq frequencia_acumulada frequencia_relativa_simples
1 10    4     4                   0.20
2 30    8    12                   0.40
3 50    4    16                   0.20
4 70    3    19                   0.15
5 90    1    20                   0.05
  frequencia_relativa_acumulada
1 0.20
2 0.60
3 0.80
4 0.95
5 1.00

In [ ]:
#Exportando como banco de dados csv
write.csv2(dados_simples_tidy, "coco1.csv", row.names = F)